:root {
  --footer: #595959;
  --select: #a2c5ac;
  --bg: #bbbdf6;
  --titles: #04052e;
  --btn1: #d16666;
  --btn2: #9c95dc;
  --btn3: #228cdb;
  --btn4: #636363;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg);
}
nav {
  z-index: 99;
  position: relative;
}
nav .no-back {
  background-color: transparent;
}
nav .no-hover:hover {
  background-color: transparent;
  color: initial;
  cursor: initial;
}
nav .allow-copy {
  user-select: auto;
}
nav > ul {
  list-style: none;
}
nav > ul > li {
  cursor: pointer;
  user-select: none;
  background-color: var(--btn3);
  display: inline-block;
  padding: 5px;
  height: 25px;
  margin: 0 10px;
  position: relative;
  padding: 10px;
}
nav > ul > li:hover {
  background-color: var(--btn1);
  color: white;
}
nav > ul > li:hover > ul {
  list-style: none;
  display: block;
  padding: 0;
  position: absolute;
  width: max-content;
  translate: 0 14px;
  left: 0;
  margin: 0;
}
nav > ul > li > ul {
  display: none;
}
nav > ul > li > ul > li {
  padding: 10px;
  background-color: var(--btn2);
}
nav > ul > li > ul > li:hover {
  background-color: var(--btn4);
}
main {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}
main .draw {
  margin: 0 auto;
}
main canvas {
  position: absolute;
  top: 0;
  left: 0;
}
main div#text {
  border: none;
  margin: 0 auto;
  width: 50%;
  overflow-y: hidden;
  border: 1px solid black;
  padding: 10px;
}
main div#text span {
  width: 100%;
  display: inline-block;
  text-align: center;
}
main div#text textarea {
  width: 100%;
  height: 100%;
  padding: 5px 0 0 0;
  margin: 0px;
  border: none;
  border-top: 1px solid black;
  resize: none;
  outline: none;
}
